@using DMSMVC.Models.DTOs
@using System.Text.Json
@model DMSMVC.Models.DTOs.StaffDto;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Staff update</title>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="~/css/Create.css">
</head>
<body>
    <div class="container-outer">
        <div class="containercontain">
            <div class="reg">
                <h2>Update Staff</h2>
            </div>
            <form class="wrapper" method="post" enctype="multipart/form-data">
                <div class="form" hidden>
                    <div class="inner">
                        <label hidden>@Model.Id</label>
                        <input value="@Model.Id" class="input" type="text" name ="Id" hidden>
                    </div>
                </div>

                <div class="form">
                    <div class="inner">
                        <label>Last Name</label>
                        <input class="input" type="text" name="LastName"  value="@Model.LastName">
                    </div>
                    <div class="inner">
                        <label> First Name</label>
                        <input class="input" type="text" name="FirstName" value="@Model.FirstName" >
                    </div>
                </div>
                <div class="form">
                    <div class="inner">
                        <label> Email</label>
                        <input class="input" type="text" name ="Email" value="@Model.Email" readonly>
                    </div>
                    <div class="inner">
                        <label> Staff No</label>
                        <input class="input" type="text" name ="StaffNumber" value="@Model.StaffNumber" readonly>
                    </div>

                </div>

                <div class="form">
                    <div class="inner">
                        <label>Gender</label>
                        <select class="gender" name ="Gender" asp-items="@Html.GetEnumSelectList(typeof(GenderEnum))"></select>
                    </div>
                    <div class="inner">
                        <label>Department</label>
                        @* <select asp-items="departmentItems">
                            <option>Please select a Department</option>
                        </select> *@
                            <select  name ="DepartmentId" asp-items="@ViewBag.departments">
                            </select>
                    </div>
                </div>
                <div class="form">
                    <div class="inner">
                        <label> Level</label>
                        <input class="input" type="text" name="Level" value="@Model.Level" readonly>
                    </div>
                    <div class="inner">
                        <label>Phone Number</label>
                        <input type="tel" name="PhoneNumber" value="@Model.phonenumber" required>
                    </div>
                    <div class="imageUpload">
                        <label>Image</label>
                        <input type="file" name="ProfilePhotoUrl" required>
                    </div>
                </div>


                <div class="form">
                    <input class="submit" type="submit" value="Submit">
                </div>
            </form>
        </div>

    </div>
</body>
</html>
